@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap')
@import 'mixins'

\:root
	--bg-color: #000000
	--bg-color-dark: #151515
	--bg-color-darken: #0c0c0c
	--title-color: #ffffff
	--text-color: #74777E
	--color-green: #2FAC66
	--color-red: #BE1622
	--accent-color: #F86A2E
	--text-black: #000000
	--button-color: #ffffff
	--button-bg: #F86A2E
	--button-bg-hover: #EB4B08
	--text-font: 'Montserrat', sans-serif
	--block-radius: 20px

	--h1-font-size: 60px
	--h2-font-size: 36px
	--h3-font-size: 36px
	--h4-font-size: 24px
	--h5-font-size: 20px
	--h6-font-size: 18px
	--p-font-size: 18px
	--small-font-size: 16px
	--smaller-font-size: 14px
	--smallest-font-size: 12px

@for $i from 1 through 6
	$elem: h#{$i}
	$size: var(--#{$elem}-font-size)
	h#{$i}
		font-size: #{$size}
		color: var(--title-color)
		font-weight: 600
		line-height: 1.67
p
	font-size: var(--p-font-size)
	color: var(--text-color)
	line-height: 1.67

.hidden-md
		display: none

*
	box-sizing: border-box
	margin: 0
	padding: 0
	outline: none
	&::selection
		color: #ffffff
		background-color: var(--accent-color)

body, html
	font-size: 16px
	font-weight: 400
	color: var(--text-color)
	font-family: var(--text-font)
	background-color: var(--bg-color)
	position: relative

	&.no-scroll
		height: 100vh
		overflow: hidden
	@include md
		font-size: 14px

section
	overflow: hidden

ul, ol
	list-style-position: inside

.container
	width: 100%
	max-width: 1150px
	margin: 0 auto
	padding: 0 15px

.col
	flex: 0 0 auto
	padding: 0 15px

.row
	display: flex
	flex-wrap: wrap
	margin: 0 -15px

.button
	display: inline-block                     
	padding: 21px 29px 19px
	font-weight: 400
	font-size: 18px
	line-height: .78
	color: var(--title-color)
	background-color: var(--button-bg)
	border-radius: 16px
	box-shadow: none
	border: 2px solid var(--button-bg)
	appearance: none
	cursor: pointer
	transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out
	&:hover
		background-color: var(--button-bg-hover)
		border-color: var(--button-bg-hover)
	&.button-secondary
		border-color: var(--title-color)
		background-color: transparent
		&:hover
			border-color: var(--title-color)
			background-color: var(--title-color)
			color: var(--button-bg)

	