@import 'mixins'

.header 
	position: sticky
	top: 0
	left: 0
	background-color: var(--bg-color)
	padding: 20px 0
	z-index: 100
	@include sm
		position: static

.header-wrapper 
	display: flex
	align-items: center
	align-content: center
	justify-content: space-between

.language-select
	margin-left: auto
	margin-right: 30px
	@include md
		margin-right: 25px
	@include sm
		margin-left: 0
	.selected-element	
		display: flex
		align-items: center
		align-content: center
		justify-content: center
	.select2-container--default 
		font-size: 16px
		font-weight: 500
		&.select2-container--open
			.select2-selection--single
				.select2-selection__arrow
					b
						margin-top: -3px
						transform: rotateX(0)
		.select2-selection--single 
			background-color: transparent
			border: none
			border-radius: 0
			height: 35px
			.select2-selection__rendered
				display: inline-block
				color: #ffffff
				line-height: 35px
				padding-left: 10px
				.selection-text
					padding-left: 11px
			.select2-selection__arrow
				b
					display: block
					width: 10px
					height: 10px
					background-image: url('../assets/arrow.svg')
					background-position: center
					background-size: contain
					border: none
					transform: rotateX(180deg)
					margin-left: -5px
					margin-top: -5px
					transition: transform .3s ease-in-out
span.select2-container--default 
	font-size: 16px
	font-weight: 500
	.select2-dropdown
			background-color: transparent
			border: none
			border-radius: 5px !important
			overflow: hidden
	.select2-results__option--highlighted.select2-results__option--selectable
		background-color: transparent 
		color: #ffffff 
	.select2-results__options
		background-color: #2D2E35
	.select2-results__option
		padding: 5px 10px
		color: #ffffff
		.selected-element
			display: flex
			align-items: center
			align-content: center
			justify-content: flex-start
			position: relative
			.selection-text
				padding-left: 11px
			&:after 
				content: ''
				display: block
				width: 5px
				height: 5px
				border-radius: 5px
				background-color: transparent
				position: absolute
				top: 50%
				right: 0
				transform: translateY(-50%)
				transition: background-color .3s ease-in-out
	.select2-results__option--selected
		background-color: transparent
		.selected-element
			&:after 
				background-color: var(--accent-color)

.login-wrapper
	display: inline-flex
	align-self: center

.login-button 
	text-transform: uppercase
	@include sm
		font-size: 0
		margin: 0
		padding: 6px 4px
		border-radius: 10px
	img
		display: none
		@include sm
			display: block

.logo
	max-width: 40%
	@include sm
		display: flex
		align-items: center
		align-content: center
		justify-content: center
		width: 100%
		max-width: 123px
		margin-bottom: 0
		margin-right: auto
	a
		display: inline-block
		img
			max-width: 100%

.navigation-wrapper 
	display: inline-block
	@include md
		display: none

.navigation-list
	display: flex
	list-style-type: none
	li
		margin-right: 30px
		a
			font-size: var(--p-font-size)
			line-height: 1.67
			color: var(--title-color)
			text-decoration: none
			transition: color .3s ease-in-out
			&:hover
				color: var(--accent-color)

.hero
	display: flex

.hero-wrapper
	display: flex
	flex-direction: column
	position: relative
	padding: 60px 0 28px
	@include md
		padding: 40px 0 20px
	@include sm
		padding: 30px 0 0

.hero-background
	position: absolute
	top: 0
	right: -60px
	max-width: 55%
	height: auto
	pointer-events: none
	img, picture
		width: 100%
		height: auto
	@include md
		display: none

.hero-content 
	position: relative
	z-index: 1
	max-width: 52%
	@include md
		max-width: 100%

.hero-buttons
	margin-top: 40px
	.button
		&+.button
			margin-left: 20px
	@include sm
		margin-top: 30px
		flex-direction: column
		.button
			width: 100%
			&+.button
				margin-left: 0
				margin-top: 10px

.hero-title
	line-height: 1.25
	font-weight: 500
	margin-bottom: 10px
	span
		font-size: 24px
		vertical-align: top
		position: relative
		top: 8px
	@include sm
		--h1-font-size: 28px
		margin-top: 8px
		span 
			display: none

.hero-subtitle
	--p-font-size: 20px
	--text-color: var(--accent-color)
	margin-bottom: 15px
	@include sm
		--p-font-size: 12px

.hero-description
	--p-font-size: 20px
	@include sm
		--p-font-size: 14px

.advantages
	display: flex
	width: 100%
	gap: 30px
	margin-top: 80px
	position: relative
	z-index: 1
	@include md
		flex-wrap: wrap
		margin-top: 50px
	@include sm
		gap: 12px

.advantage
	display: flex
	flex-direction: column
	align-content: center
	align-items: center
	justify-content: center
	flex: 1 1 25%
	padding: 50px 50px 40px
	background-color: var(--bg-color-darken)
	border-radius: var(--block-radius)
	@include md
		justify-content: flex-start
		flex: 0 0 calc(50% - 15px)
		padding: 24px 10px
	@include sm
		flex: 0 0 calc(50% - 6px)
	&-image
		max-width: 50px
	&-title
		margin-top: 21px
		font-weight: 400
		line-height: 1.44
		text-align: center
		color: var(--title-color)
		@include sm
			--h6-font-size: 12px
			--h6-line-height: 1.4
			margin-top: 8px

