@import 'mixins'

.header 
	position: sticky
	top: 0
	left: 0
	background-color: var(--bg-color)
	padding: 45px 0 15px
	z-index: 100

.header-wrapper 
	display: flex
	align-items: center
	align-content: center
	justify-content: space-between

.language-select
	margin-left: auto
	margin-right: 30px
	.selected-element	
		display: flex
		align-items: center
		align-content: center
		justify-content: center
	.select2-container--default 
		font-size: 16px
		font-weight: 500
		&.select2-container--open
			.select2-selection--single
				.select2-selection__arrow
					b
						transform: rotateX(0)
		.select2-selection--single 
			background-color: transparent
			border: none
			border-radius: 0
			height: 35px
			.select2-selection__rendered
				display: inline-block
				color: #ffffff
				line-height: 35px
				padding-left: 10px
				.selection-text
					padding-left: 11px
			.select2-selection__arrow
				b
					display: block
					width: 10px
					height: 10px
					background-image: url('../assets/arrow.svg')
					background-position: center
					background-size: contain
					border: none
					transform: rotateX(180deg)
					margin-left: -5px
					margin-top: -5px
					transition: transform .3s ease-in-out
span.select2-container--default 
	font-size: 16px
	font-weight: 500
	.select2-dropdown
			background-color: transparent
			border: none
			border-radius: 5px !important
			overflow: hidden
	.select2-results__option--highlighted.select2-results__option--selectable
		background-color: transparent 
		color: #ffffff 
	.select2-results__options
		background-color: #2D2E35
	.select2-results__option
		padding: 5px 10px
		color: #ffffff
		.selected-element
			display: flex
			align-items: center
			align-content: center
			justify-content: flex-start
			position: relative
			.selection-text
				padding-left: 11px
			&:after 
				content: ''
				display: block
				width: 5px
				height: 5px
				border-radius: 5px
				background-color: transparent
				position: absolute
				top: 50%
				right: 0
				transform: translateY(-50%)
				transition: background-color .3s ease-in-out
	.select2-results__option--selected
		background-color: transparent
		.selected-element
			&:after 
				background-color: var(--accent-color)

.login-button 
	text-transform: uppercase

.logo
	a
		display: inline-block

.navigation-wrapper 
	display: inline-block

.navigation-list
	display: flex
	list-style-type: none
	li
		margin-right: 30px
		a
			font-size: var(--p-font-size)
			line-height: 1.67
			color: var(--title-color)
			text-decoration: none
			transition: color .3s ease-in-out
			&:hover
				color: var(--accent-color)

.hero
	display: flex

.hero-wrapper
	display: flex
	flex-direction: column
	position: relative
	padding: 60px 0 28px

.hero-background
	position: absolute
	top: 0
	right: -60px
	max-width: 55%
	height: auto
	pointer-events: none
	img, picture
		width: 100%
		height: auto

.hero-content 
	position: relative
	z-index: 1
	max-width: 52%

.hero-buttons
	margin-top: 40px
	.button
		&+.button
			margin-left: 20px

.hero-title
	line-height: 1.25
	font-weight: 500
	margin-bottom: 10px
	span
		font-size: 24px
		vertical-align: top
		position: relative
		top: 8px

.hero-subtitle
	font-size: 20px
	color: var(--accent-color)
	margin-bottom: 15px&-title
		font-weight: 400

.hero-description
	font-size: 20px

.advantages
	display: flex
	width: 100%
	gap: 30px
	margin-top: 80px
	position: relative
	z-index: 1

.advantage
	display: flex
	flex-direction: column
	align-content: center
	align-items: center
	justify-content: center
	flex: 1 1 25%
	padding: 50px 50px 40px
	background-color: var(--bg-color-darken)
	border-radius: var(--block-radius)
	&-title
		margin-top: 21px
		font-weight: 400
		line-height: 1.44
		text-align: center
		color: var(--title-color)

